---
version: "3.6"

services:
  gitea:
    image: gitea/gitea:{{ gitea_img_version }}
    container_name: gitea
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - {{ gitea_data_dir }}:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 2222:22
    networks:
      - {{ proxy_network }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.gitea-proxy.entrypoints=https"
      - "traefik.http.routers.gitea-proxy.rule=Host(`git.{{ domain_name }}`)"
      - "traefik.http.routers.gitea-proxy.tls=true"
      - "traefik.http.routers.gitea-proxy.service=gitea-service"
      - "traefik.http.services.gitea-service.loadbalancer.server.port=3000"

networks:
  {{ proxy_network }}:
    external: true
