$ORIGIN .
@ 3600 IN SOA kencv.xyz. kencv.xyz. (
        2023190714 ; serial
        3600       ; refresh
        60         ; retry
        1209600    ; expire
        3660         ; minimum
        )

kencv.xyz 3600 IN A 10.10.10.111
*.kencv.xyz 3600 IN A 10.10.10.111

dev.kencv.xyz 3600 IN A 10.10.10.130
*.dev.kencv.xyz 3600 IN A 10.10.10.130
