#cloud-config
users:
  - default
  - name: terraform
    groups: sudo, docker
    shell: /bin/bash
    sudo:
      - 'ALL=(ALL) NOPASSWD:ALL'
    ssh_authorized_keys:
      - addme

package_update: true
packages:
  - curl
  - git
  - make
  - ufw
  - fail2ban

runcmd:
  - curl -fsSL https://get.docker.com | sh
  - docker version
  - docker compose version
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '/^PasswordAuthentication/s/^.*$/PasswordAuthentication no/' /etc/ssh/sshd_config
  - sed -i -e '/^MaxAuthTries/s/^.*$/MaxAuthTries 3/' /etc/ssh/sshd_config
  - systemctl restart sshd
  - ufw allow 22
  - ufw allow 80
  - ufw allow 443
  - ufw enable

final_message: "The system is ready after $UPTIME seconds"
