.cache/*
.venv/*
cloud-config
certs/*
!certs/.gitkeep
*.crt
**/site/*

# ansible
inventory/*
**/test.yml
**/testca/vault/vault*

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
tf_ansible_*

# packer
auto.pkrvars.hcl
**/builds/*

# vagrant
**/.vagrant/*

# nomad
input.vars
