[Unit]
Description=webhook
Wants=network-online.target nginx.service
After=network-online.target nginx.service

[Service]
ExecStart=/usr/local/bin/webhook -port {{ webhook_port }} -hooks {{ webhook_hooks_dir }}/hooks.yml -verbose -hotreload
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
