# bind mounts and features require authentication with root@pam
proxmox_user     = ""
proxmox_password = ""

proxmox_api_token_id     = ""
proxmox_api_token_secret = ""

proxmox_ip               = "192.168.86.200"
target_node              = "pve"
proxmox_storage_pool     = "volumes"

ssh_public_key = ""
ip_address        = "10.10.10."
subnet_mask       = 24

cmd_id            = 105
cmd_drone_id      = 106
lxc_template_name = "debian-11-docker-20220426.tar.gz"
