storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ ansible_hostname }}"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "{{ vault_tls_dir }}/vault.crt"
  tls_key_file  = "{{ vault_tls_dir }}/key.pem"

  tls_require_and_verify_client_cert = false
}

api_addr     = {% raw %}"https://{{ GetInterfaceIP \"eth0\" }}:8200"
{% endraw %}
cluster_addr = {% raw %}"https://{{ GetInterfaceIP \"eth0\" }}:8201"
{% endraw %}

ui           = true
