storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ ansible_hostname }}" # hostname
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "{{ vault_tls_dir }}/vault.crt"
  tls_key_file  = "{{ vault_tls_dir }}/key.pem"
}

api_addr     = "https://127.0.0.1:8200"
cluster_addr = "https://127.0.0.1:8201"
ui           = true
