datacenter  = "dc1"
data_dir    = "{{ consul_data_dir }}"
bind_addr   = {% raw %}"{{ GetInterfaceIP \"eth0\" }}"{% endraw %}
client_addr = "0.0.0.0"

encrypt = "{{ gossip_encryption_key }}"

ui_config {
  enabled = true
}
