port:
  tcp:22:
    listening: true
    ip:
      - 0.0.0.0
  # nomad ui
  tcp6:4646:
    listening: true
  # consul ui
  tcp6:8500:
    listening: true
  # consul dns
  tcp6:8600:
    listening: true

service:
  sshd:
    enabled: true
    running: true
  fail2ban:
    enabled: true
    running: true
  docker:
    enabled: true
    running: true
  nomad:
    enabled: true
    running: true
  consul:
    enabled: true
    running: true

user:
  debian:
    exists: true
    groups:
      - debian
      - sudo
      - docker
    home: /home/debian

file:
  /mnt/storage:
    exists: true
    mode: "0755"
    owner: debian
    group: debian
    filetype: directory

package:
  nomad:
    installed: true
  consul:
    installed: true
  vault:
    installed: true
  docker-ce:
    installed: true
  docker-ce-cli:
    installed: true
  docker-compose-plugin:
    installed: true
  nfs-common:
    installed: true
