version: 2

global:
  forget:
    keep-daily: {{ autorestic_forget.keep_daily }}
    keep-weekly: {{ autorestic_forget.keep_weekly }}
    keep-monthly: {{ autorestic_forget.keep_monthly }}
    keep-yearly: {{ autorestic_forget.keep_yearly }}

extras:
  hooks: &hooks
    failure:
      - 'echo "[ERROR] Backup failed!"'

locations:
{% for location in autorestic_locations %}
  {{ location.name }}:
    from: {{ location.from }}
    to: {{ location.to }}
    forget: prune
    hooks:
      <<: *hooks
{%- if 'options' in location +%}
    options:
      backup:
        exclude: {{ location.options.exclude }}
    {%- endif +%}
{% endfor %}

backends:
{% for backend in autorestic_backends %}
  {{ backend.name }}:
    type: {{ backend.type }}
    path: "{{ backend.path }}"
{% endfor %}
