[Unit]
Description=Runs autorestic backup
ConditionPathExists={{ nas_backup_mount_dir }}
Requires=network.target

[Service]
Type=oneshot
ExecStartPre={{ autorestic_bin_dir }}/generate-restore-test-files
ExecStart={{ autorestic_bin_dir }}/autorestic-backup
ExecStartPost={{ autorestic_bin_dir }}/backup-exporter -l {{ autorestic_log_file }} -e {{ nas_backup_export_file }}

# security hardening
PrivateTmp=true
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
ReadWritePaths={{ nas_backup_mount_dir }} {{ autorestic_log_dir }} /home/debian
