DRONE_GITEA_SERVER=http://git.{{ domain_name }}
DRONE_GITEA_CLIENT_ID=
DRONE_GITEA_CLIENT_SECRET=
DRONE_RPC_SECRET={{ drone_rpc_secret }}
DRONE_SERVER_HOST=drone.{{ domain_name }}
DRONE_SERVER_PROTO=https
DRONE_USER_CREATE="username:kenc,machine:false,admin:true,token:${DRONE_RPC_SECRET}"

DRONE_RPC_HOST=drone-server:80
DRONE_RUNNER_CAPACITY=2
DRONE_RUNNER_NAME=runner_one
