server {
  listen 80;
  listen [::]:80;

  server_name {{ blog_server_name }};

  location /.well-known/acme-challenge/ {
      root {{ certbot_webhook }};
  }

  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name {{ blog_server_name }};

  ssl_certificate {{ certbot_dir }}/live/{{ blog_server_name }}/fullchain.pem;
  ssl_certificate_key {{ certbot_dir }}/live/{{ blog_server_name }}/privkey.pem;

  include snippets/tls.conf;
  include snippets/security.conf;

  root /var/www/html/blog;
  index index.html;
  error_page 404 /404.html;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ \.(jpg|jpeg|gif|png)$ {
      add_header Cache-Control "public, s-maxage=7776000, max-age=86400";
  }

  location ~ \.(css|js)$ {
      add_header Cache-Control "public, max-age=86400";
  }

  location /fonts/ {
      add_header Cache-Control "public, s-maxage=7776000, max-age=86400";
  }

  location = /favicon.svg {
      log_not_found off;
  }

  location = /robots.txt {
      log_not_found off;
  }
}
