# user www-data;
worker_processes auto;
pid /run/nginx.pid;
error_log {{ nginx_log_dir }}/error.log warn;
include {{ nginx_dir }}/modules-enabled/*.conf;

events {
  worker_connections  1024;
}

http {
	sendfile on;
	tcp_nopush on;
	types_hash_max_size 2048;

	include {{ nginx_dir }}/mime.types;
	default_type application/octet-stream;

	access_log {{ nginx_log_dir }}/access.log;

	gzip on;

	include {{ nginx_dir }}/conf.d/*.conf;
	include {{ nginx_dir }}/sites-enabled/*;
}
