datacenter  = "dc1"
data_dir    = "{{ consul_data_dir }}"
bind_addr   = {% raw %}"{{ GetInterfaceIP \"eth0\" }}"{% endraw %}
client_addr = "0.0.0.0"

ports {
  https = 8501
}

tls {
  defaults {
    ca_file = "{{ consul_data_dir }}/tls/ca.crt"
    cert_file = "{{ consul_data_dir }}/tls/cert.crt"
    key_file = "{{ consul_data_dir }}/tls/key.pem"
	verify_incoming = true
	verify_outgoing = true
  }

  internal_rpc {
    verify_server_hostname = false
  }
}

ui_config {
  enabled = true
}
