[Unit]
Description=Consul
Wants=network-online.target
After=network-online.target

[Service]
{% if 'server' in group_names %}
User=consul
Group=consul
{% endif %}

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d
ExecStop=/usr/bin/consul leave
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
