datacenter  = "dc1"
data_dir    = "{{ consul_data_dir }}"
bind_addr   = {% raw %}"{{ GetInterfaceIP \"eth0\" }}"
{% endraw %}
client_addr = "0.0.0.0"

# TODO Consul v1.14 deprecates grpc to grpc_tls
ports {
  http = -1
  https = 8501
  grpc = 8502
}

tls {
  defaults {
    ca_file   = "{{ consul_data_dir }}/tls/ca.crt"
    cert_file = "{{ consul_data_dir }}/tls/cert.crt"
    key_file  = "{{ consul_data_dir }}/tls/key.pem"
    verify_incoming = true
    verify_outgoing = true
  }

  https {
    verify_incoming = false
  }

  internal_rpc {
    verify_incoming        = true
    verify_server_hostname = true
  }

  grpc {
    verify_incoming = false
  }
}

ui_config {
  enabled = true
}
