[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=borg
Group=borg
ExecStart=/usr/local/sbin/remote-backup

# filesystem access
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ReadWritePaths=/home/borg/ /home/dietpi/docker/ /root/.config/borg/ /root/.cache/borg/

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no
# Prevent rate limiting of borgmatic log events. If you are using an older version of systemd that
# doesn't support this (pre-240 or so), you may have to remove this option.
LogRateLimitIntervalSec=0

# misc
NoNewPrivileges=true
ProtectHostname=true
ProtectClock=true
RestrictRealtime=true
RestrictSUIDSGID=true
#MemoryDenyWriteExecute=true

# capabilities
CapabilityBoundingSet=CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_DAC_READ_SEARCH
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
