[Unit]
Description=Consul-template
Wants=network-online.target
After=network-online.target

[Service]
User=consul-template
Group=consul-template
ExecStart={{ vault_login_script }} /usr/bin/consul-template -config="{{ consul_template_dir }}/consul_template.hcl"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
