#!/bin/bash
set -euo pipefail

VAULT_ADDR="https://{{ vault_address }}:8200"
ADMIN_KEY_FILE="{{ vault_tls_dir }}/tls/admin_key.pem"
ADMIN_CERT_FILE="{{ vault_tls_dir }}/tls/admin_cert.pem"

RENEW_KEY_FILE="{{ consul_template_dir }}/tls/consul_template_key.pem"
RENEW_CERT_FILE="{{ consul_template_dir }}/tls/consul_template_cert.pem"

VAULT_TOKEN="$(VAULT_ADDR="${VAULT_ADDR}" vault login -method=cert \
	-client-cert="$ADMIN_CERT_FILE" \
	-client-key="$ADMIN_KEY_FILE" \
	-format=json \
	-no-store=true \
	2> /dev/null \
	| jq -r '.auth.client_token')"

exec env VAULT_TOKEN="${VAULT_TOKEN}" VAULT_ADDR="${VAULT_ADDR}" vault token renew \
	-client-cert="$RENEW_CERT_FILE" \
	-client-key="$RENEW_KEY_FILE" \
	-accessor "$(cat {{ consul_template_dir }}/accessor)"
