[defaults]
force_color=True
stdout_callback=yaml

interpreter_python=python3
ansible_managed=This file is managed by Ansible.%n
	date: %Y-%m-%d %H:%M:%S
host_key_checking=False

inventory=../terraform/cluster/tf_ansible_inventory,inventory/hosts
roles_path=./roles:~/.ansible/roles
