datacenter  = "dc1"
data_dir    = "/opt/consul"
bind_addr   = {% raw %}"{{ GetInterfaceIP \"eth0\" }}"{% endraw %}

client_addr = "0.0.0.0"

server     = false
start_join = ["{{ consul_server_ip }}"]

ui_config {
  enabled = true
}
