---
version: "3.6"

services:
  drone-server:
    container_name: drone-server
    image: drone/drone:{{ drone_img_version }}
    restart: unless-stopped
    env_file: drone.env
    volumes:
      - {{ drone_data_dir }}:/data
    networks:
      - {{ proxy_network }}
    ports:
      - {{ drone_port }}:80

  drone-runner-docker:
    container_name: drone-runner-docker
    image: drone/drone-runner-docker:1
    restart: unless-stopped
    env_file: drone.env
    depends_on:
      - drone-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  {{ proxy_network }}:
    external: true
