---
upstream:
  default:
    - 127.0.0.1:5300

upstreamTimeout: 60s
startVerifyUpstream: true
connectIPVersion: dual

blocking:
  blackLists:
    ads:
      - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
      - https://dbl.oisd.nl
      - https://v.firebog.net/hosts/AdguardDNS.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
    distractions:
      - |
        netflix.com
        disneyplus.com

  clientGroupsBlock:
    default:
      - ads
      - distractions
  blockType: zeroIp
  refreshPeriod: 4h

caching:
  maxItemsCount: 0

{% if blocky_client_lookup | length != 0 %}
clientLookup:
{{ blocky_client_lookup | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}

ports:
  dns: 53
  http: 4000

log:
  level: info
  format: text
  timestamp: true
  privacy: false

prometheus:
  enable: true
  path: /metrics
