[Unit]
Description=Nomad
Wants=network-online.target
After=network-online.target

[Service]
{% if 'server' in group_names %}
User=nomad
Group=nomad
{% endif %}

ExecReload=/bin/kill -HUP $MAINPID
{% if 'server' in group_names %}
{% if setup_vault_integration %}
Type=forking
ExecStart={{ nomad_data_dir }}/nomad-startup.sh
{% else %}
ExecStart=/usr/bin/nomad agent -config {{ nomad_config_dir }}
{% endif %}
{% else %}
ExecStart=/usr/bin/nomad agent -config {{ nomad_config_dir }}
{% endif %}
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=10

StartLimitBurst=3
StartLimitInterval=30
TasksMax=infinity

[Install]
WantedBy=multi-user.target
